html,body{height:100%;background-color: rgba(252, 196, 164, 0.671);padding: 0; margin: 0; z-index: -1;}

.container {width: 100vw;height: 100vh;margin: 0;padding: 0;}
.contenido {background-color: rgb(243, 255, 255);border-radius: 15px;box-shadow: 0px 0px 20px#00000027;
    position: relative;display: flex;justify-content: center;align-items: center; 
    padding-left: 10px; padding-right: 10px; padding-bottom: 30px; padding-top: 30px; margin: 20px;}
.pagina {background-color:#ffd54f;width: 100%;height: 100%;position: absolute;top: 0;left: 0;display: none;margin:0;padding: 0;
            flex-direction: column;justify-content: center;align-items: center;text-align: center;transition: opacity 0.5s;}
.pagina.activa {display:flex;}

.botones {display: flex; justify-content:left;}
.nav-btn {position: fixed;bottom: 5vw;right: 5vw;background: #ff54be;color: white;width: 12vmin;height: 12vmin;border-radius: 50%;border: none;font-size: 24px;
    cursor: pointer;display: flex;align-items: center;justify-content: center;box-shadow: 0 3px 10px rgba(0,0,0,0.2);transition: all 0.3s;}  
#btnAnterior{left: 5vw;}   
#btnSiguiente{background-image: url(https://es.pngtree.com/freepng/vector-right-arrow-icon_4184716.html);}
.nav-btn:hover {background: #ff23ab;transform: scale(1.1);}
.nav-btn:disabled {background: #ccc;cursor: not-allowed;transform: none;}
.bloqueado {max-width: 800px;background: #fff8e1;padding: 40px;border-radius: 10px;box-shadow: 0 5px 15px rgba(0,0,0,0.1);border: 2px solid #ffd54f;
    margin: 15px;}
.dias-faltantes {font-size: 28px;font-weight: bold;color: #4CAF50;margin: 20px 0;padding: 10px;background: #f1f8e9;border-radius: 5px;display: inline-block;}

.texto-animado {font-size: 1.5rem;font-weight: bold;color: #1b2530;text-align: center;padding: 10px;}

